<div id="content">

<div class="entry">

<h1><%= link_to title_path(:about, site.title), :about %></h1>

<div class="text">

<p>
This site powered by <%= link_to Postview, "http://github.com/hallison/postview" %>
running <%= link_to "#{Sinatra.name} v#{Sinatra::VERSION}", "http://www.sinatrarb.com" %>.
</p>

</div>

</div>

</div><!-- content -->

