<div class="entry">

  <h1><%=title_path :archive%></h1> 

  <div class="text">

    <dl>
      <% for post in posts %>
      <dt>
        <b><%=link_to "#{post.publish_date} - #{post.title}", archive_path, post, :title => post.title%></b>
        (<%= post.tags.map{ |tag| link_to tag.capitalize, tags_path, tag, :title => tag.capitalize }.join(', ') %>)
      </dt>

      <dd>
        <%=post.summary%>
      </dd>
      <% end %>
    </dl>
  </div><!--text-->
</div><!--entry-->

