/*
 * Background header:  1F3366
 * Background over:    445172
 * Background light:   6D7FAC
 * Background text:    DADFEC
 * Borders and colors: 5C6E9A
 *
 */

* {
  font-size: 13.34px;
  font-family: sans,dejavu sans,helvetica,verdana,arial,sans-serif;
}

a {
  color: #777;
  text-decoration: none;
}

a:hover {
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

h1, h1>*, * html h1 * { font-size: 22px; }
h2, h2>* { font-size: 20px; }
h3, h3>* { font-size: 18px; }
h4, h4>* { font-size: 18px; }
h5, h5>* { font-size: 16px; }
h6, h6>* { font-size: 16px; }
small, small>* { font-size: 10px; }
big, big>* { font-size: 18px; }

body {
  margin: 0px;
  padding: 0px;
  background-color: #DADFEC;
}

body>br {
  clear: both;
}

body>div  {
  float: left;
}

body>div>address {
  float: left;
  display: block;
}

body>div>address>a {
  float: left;
  display: block;
  width: 10em;
  text-align: center;
  font-style: normal;
  background-color: inherit;
}

body>div>address>a:hover {
  color: #FFF;
  background-color: #777;
}

body>div>div>* {
  width: inherit;
}

body>div>div>h1 {
  border-bottom: 1px dotted #555;
}

pre {
  padding: 4px;
  font: 13.34px monaco,terminus,courrier,monospace;
  color: #FFF;
  background-color: #000;
}

code {
  font: 13.34px monaco,terminus,courrier,monospace;
}

div#header,
div#footer {
 width: 100%;
 padding: 2px 0px 4px 0px;
 background-color: #1F3366;
}

div#header *,
div#footer * {
  color: #FFF;
  margin: 0px;
}

div#header h1>* {
  display: block;
  font-size: 28px;
  font-weight: bold;
}

div#footer p {
  text-align: center;
}

div#navigation-bar {
  width:100%;
  height: 32px;
  vertical-align: middle;
  background-image: url(../images/navigation-bar.gif);
}

div#navigation-bar address,
div#navigation-bar a {
  height: inherit;
}

div#navigation-bar a {
  height: 24px;
  padding-top: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  border-right: 2px groove #5C6E9A;
}

div#navigation-bar a:hover {
  background-color: #445172;
}

div#navigation-bar form {
  float: right;
  width: auto;
}

div#navigation-bar form input[type="text"] {
  width: 12em;
  height: 24px;
  padding-top: 6px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  border: none;
  border-left: 2px groove #5C6E9A;
  background-image: url(../images/navigation-bar.gif);
}

div#navigation-bar form input[type="text"]:focus,
div#navigation-bar form input[type="text"]:hover {
  background-image: none;
  background-color: #FFF;
  color: #445172;
}

div#content {
  width:80%;
}

div#options {
  width:20%;
}

.entry {
  margin: 16px;
  background-color: #FFF;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #5C6E9A;
}

div#content .entry {
  margin-right: 8px;
}

div#options .entry {
  margin-left: 8px;
}

.entry h1 {
  padding: 2px 8px 2px 8px;
  border-bottom: 1px solid #5C6E9A;
}

.entry h1 * {
  color: #5C6E9A;
}

.entry h1 a {
  display: block;
}

.entry-meta,
.text {
  padding: 2px 8px 2px 8px;
}

.entry-meta,
.entry-meta * {
  font-style: italic;
}

.entry ul {
  padding: 4px;
  padding-left: 32px;
}

.text {
  margin: 8px auto 8px auto;
  text-align: justify;
}

.text p {
  padding: 16px auto 16px auto;
}

