<div class="entry">

  <h1><%= link_to current_post.title, :archive, current_post %></h1> 

  <span class="entry-meta">
    Published at <%= current_post.publish_date.strftime('%A, %B %d, %Y') %>,
    tagged with <%= current_post.tags.map{ |tag| link_to tag.capitalize, :tags, tag, :title => tag.capitalize }.join(', ') %>.
  </span>

  <div class="text">

  <%= current_post.content  %>

  </div><!--text-->

</div><!--entry-->

